
body {
    margin: 0;
    font-family: monospace;
  }


  recipeTitleAfterClick {
    display: flex;
    opacity: .8;
    height: 10rem;
    padding: 3rem;
  }


#recipe-block {
    box-sizing: inherit; 

display: inline-block; 
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: double;
  }


img.favoriteStar  { 
  height: 30px;
  margin-right:  5px;
  float: left;

       }

       p{
        float: left;

       }




       .margin-top{
        box-sizing: inherit; 
        margin-top: 1.6rem; 
        text-align: center;
    }
    

.btn {
    -webkit-tap-highlight-color: transparent; 
    border-radius: 2px; 
}

.nextLine{
  width: 100%;
  display: inline-block; 
  float: left;
}
