/* JAE CSS 




     }




   

.btn {
  -webkit-tap-highlight-color: transparent; 
  border-radius: 2px; 
}


*/

.middle {
  left: 50%;
  width: 100%;
}


.margin-top{
  box-sizing: inherit; 
  margin-top: 1.6rem; 
  text-align: center;
}




p{
  float: left;
}

  .nextLine {
    width: 100%;
    display: inline-block; 
    float: left;
    }

img.favoriteStar  { 
height: 30px;
margin-right:  5px;
float: left;

     }

  

/*


#recipe-block {
  box-sizing: inherit; 
  display: inline-block; 
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: double;
}

 #recipe-block {
  border: transparent;
  border-color: rgb(184, 184, 184);
  padding: 15px;
  box-shadow: 4px 16px 25px 10px rgba(78, 78, 78, 0.2);
  transition: 0.3s;
  margin: auto;
  text-align: left;
  width: 800px;
  height: 50px;
} 
*/

#recipe-block:hover {
  box-shadow: 0 8px 16px 0 rgba(23, 102, 122, 0.918);
  cursor: pointer;
}

#recipe-block-section #one-recipe-block {
  border: transparent;
  border-color: rgb(184, 184, 184);
  padding: 15px;
  box-shadow: 4px 16px 25px 10px rgba(78, 78, 78, 0.2);
  transition: 0.3s;
  margin: auto;
  text-align: left;
  width: 800px;
  max-height: fit-content;
}

.row {
  display: flex;
}
  
.column {
  width: 50%;
  max-height: fit-content;
}

body {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
}

form {
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  padding-right: 100px;
  padding-bottom: 20px;
  justify-content: right;
  object-position: top;
}

#meals {
  font-size: 16px;
  font-weight: normal;
}